<div id="body-mask">
  <div id="edit-container">
    <div class="hero-unit">
      <h1>Agendo</h1>
      <h3>Help Others. Help you.</h3>
      <hr/>
      <h2>Log in</h2>

      <%= render 'form' %>

      <div>
        <p>or <%= link_to 'Sign up!', new_user_path %></p>
      </div>
    </div>
  </div>
</div>
