<div class="navbar"> 
  <div class="navbar-inner">
    <div class="container">
      <% if logged_in? %>
        <%= render :partial => "layouts/core/navbar/logged_in_nav" %>
      <% else %>
        <%= render :partial => "layouts/core/navbar/logged_out_nav" %>
      <% end %>
    </div>
  </div>
</div>

