<div id="body-mask">
  <div id="edit-container">
    <div class="hero-unit">
      <h1>Agendo</h1>
      <h3>Help Others. Help You.</h3>
      <hr/>
      <h2>Join us</h2>
      <%= render 'form' %>
      <br/>
      <p>or <%= link_to "Log in", login_path %></p>
    </div>
  </div>
</div>
