<h1><%= @user.username %></h1>
Member since: <%= @user.created_at.strftime("%B #{@user.created_at.day.ordinalize}, %Y") %>

<% if @user == current_user %>
  <div>
    <%= link_to "Edit Profile", edit_user_path(@user) %>
  </div>
<% end %>
<br/>
<h2>Agendas</h2>
<% @agendas.each do |agenda| %>
<div id="agenda_#{agenda.id}">
  <%= link_to agenda.name, agenda_path(agenda) %>
</div>
<% end %>
