<div id="left-side">
  <%= render :partial => 'profile_info' %>
  
  <section id="agendas">

    <section id="active-agendas">

      <dt>Agendas</dt>

        <div id="agenda-listing" class="tabbable tabs-left">
        <% unless @agendas.empty? %>
          <%= render :partial => 'agendas/agendas'%>
        <% else %>
          <p>No agendas</p>
        <% end %>

        <% if current_user %>
          <%= hidden_field_tag "current_user_id", current_user.id, { :id => "current_user_id" } %>
        <% else %>
          <%= hidden_field_tag "user_id", @user.id, { :id => "user_id" } %>
        <% end %>

      </div>
    </section>

    <section id="background-agendas">
      <dt>Background</dt>
    </section>

  </section>
</div>

<div id="right-side">
  <div data-pjax-container>
  </div>
</div>
