<div id="left-side">
  <%= render :partial => 'layouts/left_side/profile', :object => @me %>
  <%= render :partial => 'layouts/left_side/action_button', :object => @me %>
  <%= render :partial => 'layouts/left_side/notifications', :object => @me %>
  <%= render :partial => 'layouts/left_side/agendas', :object => @me %>
</div>
