<%= link_to agenda.name, user_agenda_path(@user, agenda), :class => "agenda" %><br/>
<div class="agenda-description">
  <%= truncate(agenda.description, :length => 100, :omission => '... =>') %>
</div>
