<div class="modal" id="new-agenda-modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">x</a>
    <h3>Modal header</h3>
  </div>
  <div class="modal-body">
    <%= render :partial => "agendas/form" %>
  </div>
</div>
