/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/


@import 'bourbon';
@import 'agendo_hub';	// required for twitter bootstrap styles via bootstrap-sass.gem
@import 'profile';
@import 'profile-edit';

.container {
	margin-left: 25px;
	margin-right: 25px;
}

.divider-vertical.logo {
	margin-left: 20px;
}

.well {
	padding: 3px;
}

.btn-inverse.profile-action {
	padding: 3px 10px;
}

#flash-container {
}

#navbar-user-menu {
	margin: 5px 0 0 0;
	height: 100%;
	
	ul {
		margin: 0;
	}
	#nav-avatar {
		background-color: white;
		padding: 3px;
		border: 1px solid #787878;
	}
}
