/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require formtastic
 *= require my_formtastic_changes
*/

@import 'bourbon';
@import 'profile';
body {
	font-family: "helvetica";
	font-size: 16px;
}

//
// topNavbar
/////////////////////////////////////////////////
$nav_height: 20px;
#top_nav {
	display:block;
	position:fixed;
	top:0;
	left: 0;
	padding:{
		top: 3px;
		bottom: 3px;
	}
	margin: 0;
	width: 100%;	
	height: $nav_height;
	font-size: 1em;
	background: {
		color: black;
	}
	color: white;
	a {
		color: white;
		text-decoration: none;
		&:hover { color: red }
	}
	@include box-shadow(0px 2px 8px 1px #a3a3a3);
	border: {
		bottom: 2px solid orange;
	}
	background: #ea9000; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ea9000 0%, #9e5c00 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#ea9000), color-stop(100%,#9e5c00)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #ea9000 0%,#9e5c00 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #ea9000 0%,#9e5c00 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #ea9000 0%,#9e5c00 100%); /* IE10+ */
	background: radial-gradient(center, ellipse cover,  #ea9000 0%,#9e5c00 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea9000', endColorstr='#9e5c00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	#nav_left, #nav_right {
		min-width: 25%;
		height: $nav_height;
		margin: 0px;
		padding: 0px;
		position: relative;
		display: inline;
		float: left;
	}

	#nav_middle {
		width: 50%;
		height: $nav_height;
		margin: 0px;
		padding: 0px;
		position: relative;
		display: inline;
		float: left;
		text-align: center;
		a {
			color: #BA7D27;
			color: #FFB64F;
			color: #FFD8A1;
			color: white;
			color: #FFE6C2;
			color: #FFEFD9;
			font-size: 17px;
			text-shadow: 0px -2px 1px #8A5101, 0px 1px 1px #D98D00;
			text-shadow: 0px -2px 1px #C97600, 0px 1px 1px #D98D00;
			text-shadow: 0px -2px 1px #C27100, 0px 1px 1px #D98D00;
			font-weight: bold;
			text-decoration: none;
		}
	}

}

