
// LEFT SIDE

#left-side, #right-side {
	display: inline;
	position: relative;
	float: left;
	margin: 0px;
	padding: 0px;
	left: 0;
}

#left-side {
	clear: left;
	min-width: 150px;
	max-width: 150px;
	@include box-shadow(0px 2px 1px 3px #242424);
}

#right-side {
	clear: right;
}

#profile-info {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;

	#profile-avatar {
		position: relative;
		display: block;
		margin: 0;
		padding: 0;

		img {
			position: relative;
			display: block;
			clear: both;
		}
	}

	#profile-username-background {
		position: relative;
		display: block;
		margin: 0;
		padding: 0;
		background-color: black;
	}
	
	#profile-username {
		color: white;
		font: 1.2em;
		text-align: center;
		margin: 0;
		padding: 0 0 2px 0;
		font-weight: bold;
		text-shadow: -1px -1px 1px #6B6149;
		p {
			margin: 0;
			padding: 3px 0px;
			font-size: 1.3em;
		}
	}
}

#profile-action {
	text-align: center;
	.profile-action {
		margin: 3px auto;
	}
}

.notification {
	text-align: center;
}

// RIGHT SIDE 

#right-side {
}
