<!DOCTYPE html>
<html>
<head>
<%= render :partial => "layouts/core/meta" %>
</head>
<body>
<%= render :partial => 'layouts/core/navbar' %>
<%= render :partial => 'layouts/core/flash', :object => flash %>

<div data-pjax-container>
  <%= yield %>
</div>

</body>
</html>
