<!DOCTYPE html>
<html>
<head>
  <%= render :partial => "layouts/core/meta" %>
</head>
<body>
<%= render :partial => 'layouts/core/topnav' %>
<%= render :partial => 'layouts/core/flash', :object => flash %>

<%= yield %>

</body>
</html>
